@model Student_Management_System.ViewModels.TeacherViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeacherModel</h4>
    <hr />
    <div class="row">
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </div>

     </div>
     <hr />
     <h3>Localized Properties</h3>
     <div class="row">
        @{
            
            if (Model.LocalizedProperties.Any())
            {
                foreach (var property in Model.LocalizedProperties)
                {
                    <div class = "col-sm-2">
                        @property.EntityPropertyName (@property.Language)
                    </div>
                    <div class = "col-sm-10">
                        @property.LocalValue
                    </div>
                }
            }
         }
      </div>
      <hr />
      <h3>Taken Courses</h3>
      <div class="row">
          @{

            if(Model.TakenCourses.Any())
            {
                foreach (var course in Model.TakenCourses)
                {
                    <div class = "col-sm-2">
                        @course.Title
                    </div>
                    <div class = "col-sm-10">
                        @course.Code
                    </div>
                }
            }
        }
        </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
